<form [formGroup]="myForm">
  <div class="from-group">
    <label class="from-label"> Client Owner </label>
    <mat-form-field appearance="outline" (click)="openModal(searchPopup)">
      <input matInput formControlName="clientOwner">
      <mat-icon matSuffix>search</mat-icon>
    </mat-form-field>
  </div>
</form>
<div class="jumbotron">
  <app-file-upload></app-file-upload>
</div>
<ng-template #searchPopup>
  <div class="modal-container p-3">
    <div class="modal-header p-0">
      <h4 class="modal-title pull-left font_weight_bold">Registration Company Search</h4>
      <button type="button" class="close btn-close pull-right font_weight_bold" aria-label="Close" (click)="closeModal()">
        <span aria-hidden="true" class="visually-hidden">&times;</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="searchFrom">
        <div class="row">
          <div class="col-6">
            <div class="from-group">
              <mat-form-field appearance="outline">
                <mat-label> Company Name </mat-label>
                <input matInput formControlName="companyName">
                <mat-icon matSuffix (click)="clearInput()">close</mat-icon>
              </mat-form-field>
            </div>
          </div>
          <div class="col-6">
            <div class="from-group">
              <mat-form-field appearance="outline">
                <mat-label> Company ID </mat-label>
                <input matInput formControlName="companyId">
              </mat-form-field>
            </div>
          </div>
        </div>
      </form>
      <div class="justify-content-start pb-5 pt-5">
        <button class="btn btn-primary" type="button" (click)="search(searchFrom)"
          [disabled]="!searchFrom.get('companyName')?.value && !searchFrom.get('companyId')?.value">
          Search
        </button>&nbsp;&nbsp;&nbsp;
        <button class="btn btn-outline-dark" type="button" (click)="resetFrom()">
          Reset
        </button>
      </div>
      <ng-container *ngIf="showTable">
        <div class="table-responsive">
          <table class="table table-bordered">
            <thead class="table-dark">
              <tr>
                <th>Registration Company</th>
                <th>Company ID</th>
              </tr>
            </thead>
            <tbody>
              <tr *ngFor="let data of finalArray; index as i">
                <td>
                  <label>
                    <input type="radio" name="companyName" (change)="selectCompany(data)">
                    {{data.companyName}}
                  </label>
                </td>
                <td>{{data.companyId}}</td>
              </tr>
              <tr *ngIf="finalArray && !finalArray.length">
                <td colspan="2">
                  <p class="text-center">No Records Found</p>
                </td>
              </tr>
            </tbody>
          </table>
        </div>
        <button class="btn btn-primary" type="button" (click)="submit()" [disabled]="!selectedCompany">
          Submit
        </button>
      </ng-container>
    </div>
  </div>
</ng-template>
